<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
  </head>
  <body>
    <script>
      function getUser() {
        fetch("http://localhost:8080/projeto-api-rest/usuario/all")
          .then((response) => {
            if (!response.ok) {
              throw new Error("Erro ao fazer a requisição: " + response.status);
            }
            return response.json();
          })
          .then((data) => {
            console.log("Retorno da requisição:", data);
          })
          .catch((error) => {
            console.error("Ocorreu um erro: ", error);
          });
      }
      getUser();
    </script>
  </body>
</html>
